*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 26px;
  color: var(--primary);
  background-color: var(--secondary);

  & * {
    color: var(--primary);
  }
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.app__content {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 35px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
