.form {
  background-color: var(--form-bg);
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  display: grid;
  gap: 20px;

  @media (max-width: 768px) {
    & + * {
      margin-top: 20px;
    }
  }
}

.form__item {
  display: grid;
}

.form__input {
  border-radius: var(--main-radius);
  padding: var(--main-padding);
  background-color: var(--secondary);
  font-size: 30px;
  color: var(--color-marker);
  border: none;
  transition: 0.2s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 4px var(--color-marker);
  }
}
