.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--main-padding);

  & + * {
    margin-top: 50px;
  }
}

.header__title {
  font-size: 34px;
  
  & + * {
    margin-top: 30px;
  }
}

.header__description {
  font-size: 20px;
}
