.result {
  max-width: 800px;
  margin-bottom: 30px;
}

.result__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 10px;
  list-style: none;
  counter-reset: list-counter;

  @media screen and (max-width: 1234px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 940px) {
    grid-template-columns: auto;
  }
}

.result__item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  align-items: center;
  counter-increment: list-counter;
  position: relative;
  margin-left: 30px;

  &::before {
    content: counter(list-counter);
    position: absolute;
    display: flex;
    justify-content: end;
    width: 20px;
    height: auto;
    color: var(--primary);
    font-size: 20px;
    left: -25px;
  }

  & code {
    pointer-events: none;
  }
}

.result__item--disabled {
  opacity: 0.4;
  text-decoration: line-through;

  &:has(code:hover) {
    text-decoration: none;
  }

  & code {
    cursor: pointer;
    pointer-events: all;
  }

  & button {
    pointer-events: none;
  }
}

.result__content {
  border-radius: var(--main-radius);
  background-color: var(--lighting);
  padding: var(--main-padding);
  color: var(--color-marker);
  font-size: clamp(15px, 3.2vw, 20px);
}
